.footer {
  &__legal {
    color: config('colors.gray');
    background: config('colors.black');

    a {
      color: inherit;
      padding-left: 1rem;
      transition: $trans;

      &:hover {
        color: config('colors.white');
      }
    }
  }

  &__logo {
    margin-bottom: 1rem;
  }

  &__text-white {
    color: config('colors.white');
  }

  &__social {
    width: 250px;
  }

  &__nav {
    margin-left: -1rem;
  }

  &__sites {
    margin-bottom: 1rem;
  }

  &__nav, &__sites {
    a {
      position: relative;
      color: inherit;

      &:after {
        @extend %pseudo;
        bottom: -2px;
        left: 0;
        right: 100%;
        height: 2px;
        transition: all .17s linear;
      }

      &:hover {
        color: config('colors.orangered');
        transition: $trans;

        &:after {
          right: 0;
        }
      }
    }
  }

  strong {
    font-weight: 600;
  }
}
