h2, .h2 {
  line-height: 50px;
  color: #F6F6F6;
  @apply .font-body .text-3xl .font-bold .uppercase	;
  position: relative;
  padding-left: 30px;
  text-align: left;
  margin-bottom: 20px;
  @extend .line;
  //background: linear-gradient(160deg, config('colors.orange'), config('colors.red'));
  //background: linear-gradient(314deg, config('colors.blue'), config('colors.cyan'));
  &--center {
    text-align: center;
    padding: 0 0 10px;
    margin-bottom: 25px; // Take border into account
    @extend .line--center;
  }

  &--right {
    text-align: right;
    padding-right: 30px;
    padding-left: 0;
    @extend .line--right;
  }
  &--blue {
    @extend .line--blue;
  }
}

h3, .h3 {
  color: config('colors.white');
  font: italic 600 25px/34px;
  @apply .font-strong;
  margin-bottom: 20px;
}
