.h2 {
  line-height: 50px;
  color: #F6F6F6;
  @apply .font-body .text-3xl .font-bold .uppercase	;
  position: relative;
  padding-left: 30px;
  text-align: left;
  margin-bottom: 20px;

  &:after {
    @extend %pseudo;
    width: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(160deg, config('colors.orange'), config('colors.red'));
  }

  &--right {
    text-align: right;
    padding-right: 30px;
    padding-left: 0;

    &:after {
      right: 0;
      left: auto;
    }
  }

  &--blue {
    &:after {
      background: linear-gradient(314deg, config('colors.blue'), config('colors.cyan'));
    }
  }
}

.h3 {
  color: config('colors.white');
  @apply .font-strong .text-2xl .font-bold  .italic ;
  margin-bottom: 20px;
}
