body {
  background: $col-bg;
  color: #fff;
  font: 400 14px/26px $font;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1440px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  font: 300 17px/32px $font;
  letter-spacing: .6px;
}

.text-jumbo {
  font: italic 900 110px/110px $font-strong;
  text-transform: uppercase;
  position: relative;

  span {
    position: relative;
  }

  &:before {
    @extend %pseudo;
    bottom: 0;
    right: 18px;
    background: linear-gradient(-90deg, $col-orange, $col-red);
    width: 55%;
    height: 58px;
  }
  @media (max-width: 991px) {
    font-size: 90px;
  }
}

.block-dark {
  background: $col-bg-gray;
  padding: 1.5rem;

  @media (min-width: 576px) {
    padding: 2rem;
  }
  @media (min-width: 992px) {
    padding: 3rem;
  }
}

::selection {
  background: $col-red;
  color: #fff;
}

.line { // Defaults to left
  position: relative;

  &:after {
    @extend %pseudo;
    width: $line-width;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(160deg, $col-orange, $col-red);
  }

  &--right {
    &:after {
      right: 0;
      left: auto;
    }
  }

  &--center {
    &:after {
      width: 64px;
      height: $line-width;
      bottom: -$line-width;
      top: auto;
      left: 50%;
      margin-left: -32px;
    }
  }

  &--blue {
    &:after {
      background: linear-gradient(314deg, $col-blue, $col-cyan);
    }
  }
}
