body {
  background: config('colors.bg');
  color: #fff;
  @apply .font-body .text-xl .font-normal	;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1440px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  @apply .font-body .font-light	 .text-base	.leading-normal	;
  letter-spacing: .6px;
}

.text-jumbo {
  @apply .font-strong .font-extrabold .text-5xl .italic .uppercase;
  position: relative;

  span {
    position: relative;
  }

  &:before {
    @extend %pseudo;
    bottom: 0;
    right: 18px;
    background: linear-gradient(-90deg, config('colors.orange'), config('colors.red'));
    width: 55%;
    height: 58px;
  }
  @media (max-width: 991px) {
    font-size: 90px;
  }
}

.block-dark {
  background: config('colors.bg-gray');
  padding: 1.5rem;

  @media (min-width: 576px) {
    padding: 2rem;
  }
  @media (min-width: 992px) {
    padding: 3rem;
  }
}

::selection {
  background: config('colors.orangered');
  color: config('colors.white');
}

.line { // Defaults to left
  position: relative;

  &:after {
    @extend %pseudo;
    width: $line-width;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(160deg, config('colors.orange'), config('colors.red'));
  }

  &--right {
    &:after {
      right: 0;
      left: auto;
    }
  }

  &--center {
    &:after {
      width: 64px;
      height: $line-width;
      bottom: -$line-width;
      top: auto;
      left: 50%;
      margin-left: -32px;
    }
  }

  &--blue {
    &:after {
      background: linear-gradient(314deg, config('colors.blue'), config('colors.cyan'));
    }
  }
}

button:focus {
    outline: 0px auto ;
}
small {
  @apply .text-sm;
  color: config('colors.gray-lighter');
}
