.nav {
  padding: 30px 30px 0;
  display: flex;

  &__logo {
    flex: 0 0 131px;
  }
  @media (max-width: 968px) {
  .social {
      @apply .hidden ;
    }
  }

  &__menu {
    @apply .font-body .text-base .font-extrabold .italic .uppercase ;
    flex: 3 1 auto;

    ul {
      max-width: 800px;
      margin: 0 auto;

      li {
        flex: 1 1 auto;

        a {
          display: inline-block;
          padding: 25px;
        }
      }
    }
  }
  &__social {
    width: 250px;

    @media (max-width: 968px) {
      display:none !important;
    }

  }
}
