.socials {
  flex: 1 1 auto;
  text-align: center;

  a {
    display: block;
    padding: 20px 0;
    position: relative;

    img {
      transition: $trans;
      vertical-align: middle;
    }

    &:hover {
      img {
        transform: scale(1.4);
      }
    }
    &:before {
      @extend %pseudo;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(#fff, .08);
      border-radius: 999px;
      transition: all .1s ease-out;
      transform: scale(0);
      opacity: 0;
    }

    &:hover:focus {
      &:before {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  @media (max-width: 850px) {
    a {
      width: 25px;
    }
  }
}
