$font: Muli, sans-serif;
$font-strong: Nunito Sans, sans-serif;

$col-black: #121215;
$col-bg: #17171b;
$col-bg-gray: #1d1d23;
$col-gray: #5c5c5c;
$col-gray-light: #3c3c43;
$col-gray-lighter: #8e8e9b;
$col-white: #f6f6f6;
$col-red: #ce242c;
$col-red-light: #d53535;
$col-red-pale: #d63937;
$col-pink: #ef6c5d;
$col-orangered: #d93f3a;
$col-orange: #f4835e;
$col-blue: #4a90e2;
$col-cyan: #21d3c3;

$trans: all .2s ease-out;

$line-width: 5px;
